$light-sanisidro-primary: (
  50: #e1edec,
  100: #b3d3ce,
  200: #81b5ae,
  300: #4f978e,
  400: #298175,
  500: #036b5d,
  600: #036355,
  700: #02584b,
  800: #024e41,
  900: #013c30,
  A100: #72ffdc,
  A200: #3fffcf,
  A400: #0cffc2,
  A700: #00f1b5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-sanisidro-accent: (
  50: #e9ecef,
  100: #c7d0d7,
  200: #a2b1bc,
  300: #7c91a1,
  400: #607a8c,
  500: #446278,
  600: #3e5a70,
  700: #355065,
  800: #2d465b,
  900: #1f3448,
  A100: #8bc5ff,
  A200: #58acff,
  A400: #2592ff,
  A700: #0c85ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$warn: (
  50: #f4e5e4,
  100: #e4bfbb,
  200: #d3948e,
  300: #c16960,
  400: #b3483e,
  500: #a6281c,
  600: #9e2419,
  700: #951e14,
  800: #8b1811,
  900: #7b0f09,
  A100: #ffadab,
  A200: #ff7c78,
  A400: #ff4a45,
  A700: #ff312b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
