.light-sanisidro {
  .mat-mdc-table .mat-mdc-header-cell {
    background-color: $surface !important;
    color: $on-surface !important;
  }

  .mat-mdc-table .mat-mdc-row:nth-child(even) {
    background-color: $surface-container-low !important;
  }

  .mat-mdc-table .mat-mdc-row:hover {
    background-color: $surface-container !important;
  }
}
