$dark-sanisidro-primary: (
  50 : #f0faf8,
  100 : #daf2ed,
  200 : #c2eae2,
  300 : #a9e2d6,
  400 : #96dbcd,
  500 : #84d5c4,
  600 : #7cd0be,
  700 : #71cab6,
  800 : #67c4af,
  900 : #54baa2,
  A100 : #ffffff,
  A200 : #eafffa,
  A400 : #b7ffed,
  A700 : #9dffe7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$dark-sanisidro-accent: (
  50 : #f5f9fc,
  100 : #e6eff7,
  200 : #d5e5f2,
  300 : #c4daec,
  400 : #b8d2e8,
  500 : #abcae4,
  600 : #a4c5e1,
  700 : #9abddd,
  800 : #91b7d9,
  900 : #80abd1,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f4faff,
  A700 : #daedff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$warn: (
  50: #f4e5e4,
  100: #e4bfbb,
  200: #d3948e,
  300: #c16960,
  400: #b3483e,
  500: #a6281c,
  600: #9e2419,
  700: #951e14,
  800: #8b1811,
  900: #7b0f09,
  A100: #ffadab,
  A200: #ff7c78,
  A400: #ff4a45,
  A700: #ff312b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
