$inverse-surface: #DEE4E1;
$inverse-on-surface: #2B3230;

$inverse-primary: #036B5D;

$surface-variant: #3F4946;
$on-surface-variant: #BEC9C5;

$surface: #0E1513;
$surface-bright: #343B39;
$surface-dim: #0E1513;

$surface-container-highest: #303634;
$surface-container-high: #252B29;
$surface-container: #1B211F;
$surface-container-low: #171D1B;
$surface-container-lowest: #090F0E;

$on-surface: #DEE4E1;

.dark-sanisidro {
  .inverse-surface {
    background-color: $inverse-surface !important;
    color: $inverse-on-surface !important;
    mat-icon {
      color: $inverse-on-surface !important;
    }
    span {
      color: $inverse-on-surface !important;
    }
  }

  .inverse-primary {
    background-color: $inverse-primary !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface {
    background-color: $surface !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-bright {
    background-color: $surface-bright !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-dim {
    background-color: $surface-dim !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-variant {
    background-color: $surface-variant !important;
    color: $on-surface-variant !important;
    mat-icon {
      color: $on-surface-variant !important;
    }
    span {
      color: $on-surface-variant !important;
    }
  }

  .surface-container-highest {
    background-color: $surface-container-highest !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-container-high {
    background-color: $surface-container-high !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-container {
    background-color: $surface-container !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-container-low {
    background-color: $surface-container-low !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }

  .surface-container-lowest {
    background-color: $surface-container-lowest !important;
    color: $on-surface !important;
    mat-icon {
      color: $on-surface !important;
    }
    span {
      color: $on-surface !important;
    }
  }
}
