.dark-sanisidro {
  .mat-mdc-table .mat-mdc-header-cell {
    background-color: $secondary-container !important;
    color: $on-secondary-container !important;
  }
  .mat-mdc-table .mat-mdc-row:hover {
    background-color: $surface-container !important;
  }
}
