.table {
  width: 100% !important;
  border-radius: 24px !important;
  overflow: auto !important;
  @include mat.elevation(0);
}

.mat-mdc-table .mdc-data-table__header-row {
  /* Position */
  position: sticky !important;
  position: -webkit-sticky !important; /* For macOS/iOS Safari */
  top: 0px !important; /* Sets the sticky toolbar to be on top */
  z-index: 1000 !important; /* Ensure that your app's content doesn't overlap the toolbar */
}

mat-paginator {
  background-color: transparent !important;
}
