$light-primary: (
  50: #e4edf1,
  100: #bcd1db,
  200: #8fb2c3,
  300: #6293ab,
  400: #417c99,
  500: #1f6587,
  600: #1b5d7f,
  700: #175374,
  800: #12496a,
  900: #0a3757,
  A100: #8bcaff,
  A200: #58b3ff,
  A400: #259cff,
  A700: #0c90ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$light-accent: (
  50 : #ecebef,
  100 : #d0cdd8,
  200 : #b1acbe,
  300 : #918ba3,
  400 : #7a7290,
  500 : #62597c,
  600 : #5a5174,
  700 : #504869,
  800 : #463e5f,
  900 : #342e4c,
  A100 : #af9aff,
  A200 : #8667ff,
  A400 : #5e34ff,
  A700 : #4a1aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$warn: (
  50: #f4e5e4,
  100: #e4bfbb,
  200: #d3948e,
  300: #c16960,
  400: #b3483e,
  500: #a6281c,
  600: #9e2419,
  700: #951e14,
  800: #8b1811,
  900: #7b0f09,
  A100: #ffadab,
  A200: #ff7c78,
  A400: #ff4a45,
  A700: #ff312b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
