$primary: #1f6587;
$on-primary: #ffffff;

$primary-container: #c6e7ff;
$on-primary-container: #001e2d;

$primary-fixed: #c6e7ff;
$on-primary-fixed: #001e2d;

$primary-fixed-dim: #91cef5;
$on-primary-fixed-dim: #004c6b;

.primary {
  color: $primary !important;
  mat-icon {
    color: $primary !important;
  }
  span {
    color: $primary !important;
  }
}

.primary-background {
  background-color: $primary !important;
  color: $on-primary !important;
  mat-icon {
    color: $on-primary !important;
  }
  span {
    color: $on-primary !important;
  }
}

.primary-container {
  background-color: $primary-container !important;
  color: $on-primary-container !important;
  mat-icon {
    color: $on-primary-container !important;
  }
  span {
    color: $on-primary-container !important;
  }
}

.primary-fixed {
  background-color: $primary-fixed !important;
  color: $on-primary-fixed !important;
  mat-icon {
    color: $on-primary-fixed !important;
  }
  span {
    color: $on-primary-fixed !important;
  }
}

.primary-fixed-dim {
  background-color: $primary-fixed-dim !important;
  color: $on-primary-fixed-dim !important;
  mat-icon {
    color: $on-primary-fixed-dim !important;
  }
  span {
    color: $on-primary-fixed-dim !important;
  }
}
