<ngx-simplebar class="index-desktop surface-container">

  <header fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
    <div>
      <span class="mat-headline-4"><b>Dashboard</b></span>
    </div>

    <span fxFlex></span>

    <div fxLayoutGap="8px">
      <button mat-flat-button routerLink="/customers" class="filled-tonal-button">
        <mat-icon>persons</mat-icon>
        Clientes
      </button>
      <button mat-flat-button routerLink="/projects" class="filled-tonal-button">
        <mat-icon>apartment</mat-icon>
        Proyectos
      </button>
      <button mat-flat-button routerLink="/users" class="filled-tonal-button">
        <mat-icon>admin_panel_settings</mat-icon>
        Usuarios
      </button>
    </div>

  </header>

  <div class="grid-content">
    <app-empty fxFlex message="Dashboard en desarrollo..."></app-empty>
  </div>

</ngx-simplebar>
