<ngx-simplebar class="index-desktop surface-container">

  <header fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
    <div>
      <span class="mat-headline-4"><b>Dashboard</b></span>
    </div>

    <div fxLayoutGap="8px">
      <button mat-flat-button routerLink="/projects" #projects="routerLinkActive" routerLinkActive="filled-button"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="projects.isActive ? 'filled-button' : 'filled-tonal-button'">
        <mat-icon>apartment</mat-icon>
        Proyectos
      </button>
      <button mat-flat-button routerLink="/users" #users="routerLinkActive" routerLinkActive="filled-button"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="users.isActive ? 'filled-button' : 'filled-tonal-button'">
        <mat-icon>persons</mat-icon>
        Usuarios
      </button>
    </div>

  </header>


</ngx-simplebar>
