<button mat-flat-button class="extended-fab grid-floating-button active-elevation"
  (click)="openDrawer1('600px', 'NEW_ROLE', null)">
  <mat-icon>add</mat-icon>
  Rol
</button>

<div class="grid-content">

  <header fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">

    <mat-form-field appearance="outline" class="no-hint">

      <input #input matInput (keyup)="applyFilter($event)" placeholder="Buscar...">
      @if (!input.value) {
      <mat-icon matSuffix>search</mat-icon>
      }

      @if (input.value) {
      <button matSuffix mat-icon-button (click)="input.value = ''; resetFilter('')">
        <mat-icon>close</mat-icon>
      </button>
      }

    </mat-form-field>

    <span fxFlex></span>

  </header>

  <ngx-simplebar class="list">

    <div fxLayout="row wrap" fxLayoutGap="8px grid" class="grid">

      @for (role of filterRoles; track role) {
      <div fxFlex.gt-lg="25" fxFlex.lg="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.lt-sm="100">
        <mat-card class="outlined-card">
          <mat-card-header>
            <mat-icon matCardAvatar fontIcon="admin_panel_settings" color="primary"></mat-icon>
            <mat-card-title>{{ role.name }}</mat-card-title>
            <mat-card-subtitle>{{ role.type }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              @for (module of role.modules; track module) {
              <span> {{ module.label }} | </span>
              }
            </p>
            <button mat-flat-button (click)="openDrawer1('600px', 'NEW_ROLE', role)"
              color="primary" class="filled-tonal-button">
              Editar
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      }
      @empty {
        <app-empty fxFlex message="No se encontraron roles"></app-empty>
      }

    </div>
  </ngx-simplebar>
</div>
