$dark-primary: (
  50: #f2f9fe,
  100: #def0fc,
  200: #c8e7fa,
  300: #b2ddf8,
  400: #a2d5f7,
  500: #91cef5,
  600: #89c9f4,
  700: #7ec2f2,
  800: #74bcf0,
  900: #62b0ee,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f4faff,
  A700: #daefff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-accent: (
  50: #f9f8fc,
  100: #efecf8,
  200: #e5e0f4,
  300: #dbd4f0,
  400: #d3caec,
  500: #cbc1e9,
  600: #c6bbe6,
  700: #beb3e3,
  800: #b8abdf,
  900: #ac9ed9,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fefdff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn: (
  50: #f4e5e4,
  100: #e4bfbb,
  200: #d3948e,
  300: #c16960,
  400: #b3483e,
  500: #a6281c,
  600: #9e2419,
  700: #951e14,
  800: #8b1811,
  900: #7b0f09,
  A100: #ffadab,
  A200: #ff7c78,
  A400: #ff4a45,
  A700: #ff312b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
